logo {
  font-family: 'Raleway Bold', sans-serif;
}

title {
  font-family: 'Roboto Bold', sans-serif;
}

subtitle {
  font-family: 'Roboto Medium', sans-serif;
}

text {
  font-family: 'Roboto Reguiar', sans-serif;
}

