body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  
  
  
  margin: -1px;
  border: 0;
  

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Roboto Bold", sans-serif;
}

.subtitle {
  font-family: "Roboto Medium", sans-serif;
}

.text {
  font-family: "Roboto Reguiar", sans-serif;
}

.button {
  cursor: pointer;
}

/*!========HEDER====================*/

.logo {
   font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.navigation-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: #404bbf;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header address {
  font-style: normal;
}

/*!================HERO======*/
.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-image-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  background-color: #ffffff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.header {
}
.header-navigation {
}
.header-navigation-logo {
}
.logo {
}
.logo-studio {
}
.header-navigation-menu-list {
}
.header-navigation-menu-item {
}
.header-navigation-menu-subtitle {
}
.subtitle {
}
.header-address {
}
.header-address-menu-list {
}
.header-address-menu-item {
}
.header-address-menu-text {
}
.text {
}

.main {
}

.main-hero-title {
}
.title {
}
.main-hero-button {
}
.button {
}
.main-features {
}
.main-features-title {
}
.main-features-menu-list {
}
.main-features-menu-item {
}
.main-features-menu-subtitle {
}
.subtitle {
}
.main-features-menu-text {
}
.text {
}
.main-team {
}
.main-team-title {
}
.main-team-menu-list {
}
.main-team-menu-item {
}
.main-team-menu-icon {
}
.main-team-menu-subtitle {
}
.main-team-menu-text {
}
.main-portfolio {
}
.main-portfolio-title {
}
.main-portfolio-item {
}
.main-portfolio-icon {
}
.main-portfolio-subtitle {
}
.main-portfolio-text {
}

.footer {
  background: #2e2f42;
}
.footer-logo {
}
.logo {
}
.footer-logo-studio {
}
.footer-text {
}
.text {
}
